<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/cps';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('disconnect', function() {
                $('#log').append('<br>Disconnected');
            });
            socket.on('my response', function(msg) {
                $('#log').append('<br>Received: ' + msg);
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#createroom').submit(function(event) {
                socket.emit('createRoom', {userid: $('#create_room').val()});
                return false;
            });
            $('form#joinroom').submit(function(event) {
                socket.emit('joinRoom', {roomid: $('#join_room').val(), userid: $('#join_user').val()});
                return false;
            });
            $('form#leaveroom').submit(function(event) {
                socket.emit('leaveRoom', {roomid: $('#leave_room').val(), userid: $('#leave_user').val()});
                return false;
            });
            $('form#deleteroom').submit(function(event) {
                socket.emit('closeRoom', {roomid: $('#delete_room').val()});
                return false;
            });
            $('form#showface').submit(function(event) {
                socket.emit('showface', {roomid: $('#sf_room').val(), img_token: $('#sf_token').val()});
                return false;
            });
            $('form#addface').submit(function(event) {
                socket.emit('showface', {roomid: $('#sf_room').val(), position: $('#ad_position').val()});
                return false;
            });
            $('form#selectface').submit(function(event) {
                socket.emit('showface', {roomid: $('#slf_room').val(),
                    userid: $('#slf_user').val(),
                    faceid: $('#slf_face').val()});
                return false;
            });
            $('form#uploadPSface').submit(function(event) {
                socket.emit('showface', {roomid: $('#upf_room').val(),
                    userid: $('#upf_user').val(),
                    img_token: $('#upf_token').val()});
                return false;
            });


            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect request');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="createroom" method="POST" action='#'>
        <input type="text" name="create_room" id="create_room" placeholder="userid">
        <input type="submit" value="create">
    </form>
    <form id="joinroom" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="roomid">
        <input type="text" name="join_user" id="join_user" placeholder="userid">
        <input type="submit" value="join">
    </form>
    <form id="leaveroom" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="roomid">
        <input type="text" name="leave_user" id="leave_user" placeholder="userid">
        <input type="submit" value="leave">
    </form>
    <form id="deleteroom" method="POST" action='#'>
        <input type="text" name="delete_room" id="delete_room" placeholder="roomid">
        <input type="submit" value="delete">
    </form>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="imgfile">
        <input type="submit" value="Upload">
    </form>

    <form id="showface" method="POST" action='#'>
        <input type="text" name="sf_token" id="sf_token" placeholder="img_token">
        <input type="text" name="sf_room" id="sf_room" placeholder="roomid">
        <input type="submit" value="showface">
    </form>

    <form id="addface" method="POST" action='#'>
        <input type="text" name="ad_position" id="ad_position" placeholder="position">
        <input type="text" name="ad_room" id="ad_room" placeholder="roomid">
        <input type="submit" value="addface">
    </form>

    <form id="selectface" method="POST" action='#'>
        <input type="text" name="slf_face" id="slf_face" placeholder="faceid">
        <input type="text" name="slf_user" id="slf_user" placeholder="userid">
        <input type="text" name="slf_room" id="slf_room" placeholder="roomid">
        <input type="submit" value="selectface">
    </form>

    <form id="uploadPSface" method="POST" action='#'>
        <input type="text" name="upf_token" id="upf_token" placeholder="img_token">
        <input type="text" name="upf_user" id="upf_user" placeholder="userid">
        <input type="text" name="upf_room" id="upf_room" placeholder="roomid">
        <input type="file" name="upf_imgfile" id="upf_imgfile">
        <input type="submit" value="updateface">
    </form>


    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
</body>
</html>
